{% extends 'ToDoListBundle:Default:taskslist.base.html.twig' %}

{% block content %}
    <label for="message"><h3><span class="label label-default">Manage your TasksList</span></h3></label><br/>

    {% if taskslist|length > 0 %}
        {% for tasklist in taskslist %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ tasklist.name }}
                </div>
            </div>
            <div class="panel-content">
                <div class="panel-body">
                    <a class="btn btn-default" href="{{ path("todolist_edit_tasklist", { "idList" : tasklist.id}) }}">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a class="btn btn-default" href="{{ path("todolist_tasks", { "idList" : tasklist.id}) }}">
                        <span class="glyphicon glyphicon-zoom-in"></span>
                    </a>
                    <form name="form" class="formDelete" action="{{ path("todolist_delete_tasklist") }}" method="post">
                        <input type="hidden" name="idList" value="{{ tasklist.id }}"/>
                        <button type="submit" value="Delete" name="delete" class="btn btn-default">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </form>
                </div>
            </div>
            <br/>
        {% endfor %}
    {% endif %}
{% endblock %}
